# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Docker artifacts
*.log
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# Terraform state
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# macOS
.DS_Store

# IDE/editor junk
.vscode/
.idea/
